.logo {
    width: 100px;
    height: 100px;
}

.image-background {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;

    background-image: url(https://cdn.pixabay.com/photo/2020/04/25/12/14/tech-5090539_1280.jpg)
}
.check-integrity-background {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;

    background-image: url('https://cdn.pixabay.com/photo/2020/04/25/12/14/tech-5090539_1280.jpg');
}

.custom-full-height {
    height: calc(100vh - 50px);
}
